@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile-pic:hover {
  background-color: rgba(255, 255, 255, 0);
}

.login-form-container {
  font-family: "Ubuntu";
  width: 100%;
  height: 100vh;
  text-align: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  width: 30%;
  min-width: 250px;
  margin-top: 10%;
  margin-right: 10%;
}

.inform {
  margin: 8% 8% 8% 8%;
  z-index: -1;
}
.forgotrecover {
  display: flex;
  justify-content: space-evenly;
}

.logintitle {
  font-size: 24px;
  font-weight: 100;
}
/* .login{
  z-index: 5;
  color: rgb(255, 255, 255);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  width: 100px;
  height: 50px;
  border: 0;
  display: inline-block;
  overflow: hidden;
  clip-path: polygon(0 0, 60% 0, 100% 50%, 60% 100%, 0% 100%);
  border-radius: 20%;
} */
